<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>gc_name</key>
		<string>所内模板</string>
		<key>gc_id</key>
		<string>public</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>个人模板</string>
		<key>gc_id</key>
		<string>person</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>常用模板</string>
		<key>gc_id</key>
		<string>often</string>
	</dict>
</array>
</plist>
