<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>案件详情</string>
		<key>image</key>
		<string>relate_case_logo.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>客户信息</string>
		<key>image</key>
		<string>contact_logo.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>案件文档</string>
		<key>image</key>
		<string>doc_logo.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>案件调查</string>
		<key>image</key>
		<string>case_research_logo.png</string>
	</dict>
</array>
</plist>
