<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>gc_gc_name</key>
		<string>无</string>
		<key>value</key>
		<string>0</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>5 分钟</string>
		<key>value</key>
		<string>5</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>10 分钟</string>
		<key>value</key>
		<string>10</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>15 分钟</string>
		<key>value</key>
		<string>15</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>30 分钟</string>
		<key>value</key>
		<string>30</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>45 分钟</string>
		<key>value</key>
		<string>45</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>1 小时</string>
		<key>value</key>
		<string>60</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>1.5 小时</string>
		<key>value</key>
		<string>90</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>2 小时</string>
		<key>value</key>
		<string>120</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>2.5 小时</string>
		<key>value</key>
		<string>150</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>3 小时</string>
		<key>value</key>
		<string>180</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>4 小时</string>
		<key>value</key>
		<string>240</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>5 小时</string>
		<key>value</key>
		<string>300</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>6 小时</string>
		<key>value</key>
		<string>360</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>7 小时</string>
		<key>value</key>
		<string>420</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>8 小时</string>
		<key>value</key>
		<string>480</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>9 小时</string>
		<key>value</key>
		<string>540</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>10 小时</string>
		<key>value</key>
		<string>600</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>11 小时</string>
		<key>value</key>
		<string>660</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>.5 天</string>
		<key>value</key>
		<string>720</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>18 小时</string>
		<key>value</key>
		<string>1080</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>1 天</string>
		<key>value</key>
		<string>1440</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>2 天</string>
		<key>value</key>
		<string>2880</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>3 天</string>
		<key>value</key>
		<string>4320</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>4 天</string>
		<key>value</key>
		<string>5760</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>1 周</string>
		<key>value</key>
		<string>10080</string>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>2 周</string>
		<key>value</key>
		<string>20160</string>
	</dict>
</array>
</plist>
