<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>gc_name</key>
		<string>财产案件</string>
		<key>gc_id</key>
		<string>0</string>
		<key>record_list</key>
		<array>
			<dict>
				<key>gc_name</key>
				<string>无子类类型</string>
				<key>gc_id</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>非财产案件</string>
		<key>gc_id</key>
		<string>1</string>
		<key>record_list</key>
		<array>
			<dict>
				<key>gc_name</key>
				<string>离婚案件(涉及财产分割)</string>
				<key>gc_id</key>
				<string>0</string>
			</dict>
			<dict>
				<key>gc_name</key>
				<string>离婚案件(不涉及财产分割)</string>
				<key>gc_id</key>
				<string>1</string>
			</dict>
			<dict>
				<key>gc_name</key>
				<string>侵害姓名权、名称权、肖像权、名誉权、荣誉权以及其他人格权的案件(涉及损害赔偿)</string>
				<key>gc_id</key>
				<string>2</string>
			</dict>
			<dict>
				<key>gc_name</key>
				<string>侵害姓名权、名称权、肖像权、名誉权、荣誉权以及其他人格权的案件(不涉及损害赔偿)</string>
				<key>gc_id</key>
				<string>3</string>
			</dict>
			<dict>
				<key>gc_name</key>
				<string>其他非财产案件</string>
				<key>gc_id</key>
				<string>4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>知识产权民事案件</string>
		<key>gc_id</key>
		<string>2</string>
		<key>record_list</key>
		<array>
			<dict>
				<key>gc_name</key>
				<string>没有争议金额或者价额</string>
				<key>gc_id</key>
				<string>0</string>
			</dict>
			<dict>
				<key>gc_name</key>
				<string>有争议金额或者价额</string>
				<key>gc_id</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>劳动争议案件</string>
		<key>gc_id</key>
		<string>3</string>
		<key>record_list</key>
		<array>
			<dict>
				<key>gc_name</key>
				<string>无子类类型</string>
				<key>gc_id</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>gc_name</key>
		<string>行政案件</string>
		<key>gc_id</key>
		<string>4</string>
		<key>record_list</key>
		<array>
			<dict>
				<key>gc_name</key>
				<string>商标、专利、海事行政案件</string>
				<key>gc_id</key>
				<string>0</string>
			</dict>
			<dict>
				<key>gc_name</key>
				<string>其他行政案件</string>
				<key>gc_id</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
